html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;outline: none;}
body{line-height:1}
h1 {font-size: 1.5em;margin-bottom: 10px;}
p{font-size: 1em;line-height: 1.3em;margin-bottom: 10px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle;outline: none;}

#desktop {
	font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #CCC;
	overflow: hidden;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    background-attachment: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	 background-top: 0;
}
.window {
    position: absolute;
    border: 2px solid #000;
    background: #EEE;
	border-radius: 5px;
	z-index: 1000;
}
.window.closed {
	display: none;
}
.window.minimizedWindow {
	display: none;
}
.window.fullSizeWindow {
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    border-radius: 0;
    bottom: 0 !important;
}
.fullSizeWindow .ui-resizable-handle {
	display: none;
}
.windowHeader {
    background-image: linear-gradient(90deg, #4266dc 0%, #090979 35%, #00d4ff 100%);
    text-align: right;
    border-bottom: 2px solid #000;
    padding: 2px;
    cursor: move;
    height: 28px;
}
.activeWindow .windowHeader {
    background-color: #8888d6;
}
.windowHeader > span {
    display: inline-block;
    cursor: pointer;
    border: 2px solid #000;
    margin-left: 4px;
    font-size: 19px;
    padding: 2px 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    border-radius: 5px;
    line-height: 20px;
    width: 12px;
    height: 20px;
    position: relative;
    overflow: hidden;
}
.windowHeader > span {
	background: rgb(179,220,237);
background: -moz-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: -webkit-linear-gradient(top, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%);
background: linear-gradient(to bottom, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%);
filter: progid:DXImageTrans140pxform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 );
}
.windowHeader > span.winclose {
	background: #efc5ca;
background: -moz-linear-gradient(45deg,  #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%);
background: -webkit-linear-gradient(45deg,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%);
background: linear-gradient(45deg,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99',GradientType=1 );

}

.windowHeader > span:active {
background: #29b8e5;
background: -moz-linear-gradient(top,  #29b8e5 0%, #bce0ee 50%, #29b8e5 100%);
background: -webkit-linear-gradient(top,  #29b8e5 0%,#bce0ee 50%,#29b8e5 100%);
background: linear-gradient(to bottom,  #29b8e5 0%,#bce0ee 50%,#29b8e5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29b8e5', endColorstr='#29b8e5',GradientType=0 );

}
.windowHeader > span.winclose:active {
background: #bce0ee;
background: -moz-linear-gradient(top,  #bce0ee 0%, #29b8e5 50%, #b3dced 100%);
background: -webkit-linear-gradient(top,  #bce0ee 0%,#29b8e5 50%,#b3dced 100%);
background: linear-gradient(to bottom,  #bce0ee 0%,#29b8e5 50%,#b3dced 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bce0ee', endColorstr='#b3dced',GradientType=0 );


}
.windowHeader > span > span {
    display: inline-block;
    height: 8px;
    width: 10px;
    position: absolute;
    top: 6px;
    left: 10px;
}
.winminimize > span {
	border-bottom: 3px solid #000;
}
.winmaximize > span {
	    border: 2px solid #000;
	    border-top: 3px solid #000;
}
.winmaximize > span:nth-child(2) {
	display: none;
}
.fullSizeWindow .winmaximize > span:nth-child(1) {
	margin: 2px 0 0 -4px;
}
.fullSizeWindow .winmaximize > span:nth-child(2) {
    display: inline-block;
    top: 3px;
    left: 12px;
}
.wincontent > app {
    padding: 0px;
	 position: absolute;
    min-width: 200px;
    min-height: 140px;
    border: 2px solid #000;
    margin: 2px;
	border-radius: 0 0 5px 5px;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
.windowHeader > strong {
    float: left;
    margin: 0px 3px 0 10px;
    line-height: 29px;
    font-size: 17px;
}
.taskbarPanel {
    display: inline-block;
    border: 2px solid #000;
    border-radius: 5px;
    line-height: 24px;
    margin: 2px 0 0 10px;
    font-size: 17px;
    padding: 0 10px;
    font-weight: bold;
	cursor: pointer;
}
.taskbarPanel.activeTab {
	background: #FFFFFF44;
}
.taskbarPanel.minimizedTab {
	background: #FFFFFF22;
}
.taskbarPanel.minimizedTab:hover {
	background: #FFFFFF66;
}
.taskbarPanel.closed {
	display: none;
}
#taskbar {
	position: absolute;
	border-top: 2px solid #000;
	bottom: 0;
	left: 0;
	right: 0;
}
#icons {
	position: absolute;
	background: transparent !important;
	z-index: 10;
	align-items: center;
    display: flex;
    justify-content: center;
	overflow-x: hidden;
	overflow-y: hidden;
	max-height: 80%;
	padding: 40% 45%;
	font-family: 'Material Icons Sharp';
}
#icons a {
   background-color: transparent;
	text-align: center;
    display: block;
    cursor: pointer;
    padding: 20px 10px;
	border-radius: 4px;
	display: inline-block;
}
#icons a:hover {
	background: #efefef;
	color: #000000;
}
#icons a:active {
	background: #cdcdcd;
	color: #000000;
}
#templateLink {
    position: absolute;
    display: inline-block;
    bottom: 10px;
    right: 20px;
    font-weight: bold;
    font-size: 15px;
    color: #30478c;
}

/*Demo styles BEGIN*/
#window0 {	top: 30%;	left: 35%;}
#window1 {	top: 35%;   left: 40%;}
#window2 {	top: 250px; left: 300px;}
#window3 {	top: 125px; left: 420px;}
#window4 {	top: 175px; left: 420px;}
#window5 {	top: 150px; left: 440px;}
#window6 {	top: 150px; left: 440px;}
#window7 {	top: 150px; left: 470px;}
#window0 .wincontent {	width: 350px; height: 150px;	}
#window1 .wincontent {	width: 500px; height: 140px;	}
#window2 .wincontent {	width: 400px; height: 350px;	}
#window3 .wincontent {	width: 500px; height: 150px;	}
#window4 .wincontent {	width: 400px; height: 350px;	}
#window5 .wincontent {	width: 500px; height: 450px;	}
#window6 .wincontent {	width: 500px; height: 150px;	}
#window7 .wincontent {	width: 500px; height: 600px;	}
@media screen and (max-width:960px){
	#window0 {	left: 10px;	}
	#window3 {	left: 50px;	}
}
@media screen and (max-width:770px){
	#window0 .wincontent {	width: 460px;	}
	#window2 {	left: 100px;	}
	#window1 {	top: 190px;	left: -5px;	}
}
@media screen and (max-width:540px){
#window0 .wincontent {	width: 230px; height: 200px;	}
#window3 .wincontent {
    width: 275px;
    height: auto;
}
#window3 {    top: 9px;    left: 10px;	}
#window2 {    left: -118px;	}
#window1 .wincontent {    width: auto;    height: 300px;	}
}
.settingui {
  font-family: Roboto, Helvetica, Arial;
font-weight: 600;
  color: #f2f2f2;
  background-color: #00000022;
 border-radius: 100px;
  text-align: center;
  border: 1px solid;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 17px;
}

.dark-mode * {
  background-color: #24242466 !important;
  backdrop-filter: blur(6px);
  color: lightgray !important;
  border-color: white;
}

#textArea {
  width: 100%;
  height: 100% !important;
  font-size: 1em;
  padding: 1em;
  border: 2px inset;
  box-sizing: border-box;
  outline: none;
  position: relative;
  bottom: 1px !important;
  top: 0;
  left: 0;
  right: 0;
}
 
#noteTitle {
  width: 90%;
  border: 2px inset;
  box-sizing: border-box;
  outline: none;
  position: relative;
  bottom: 1px !important;
  top: 0;
  left: 0;
  right: 0;
}

.notemenu {
	width: 100%;
	height: 100%;
	padding: 2px 0px;
	position: relative;
	left: 0;
	right: 0;
	background-color: #cccccc;
	border-bottom: 2px inset;
	border-top: 2px inset;
	z-index: 1005;

}

.notemenu #saveBtn {
	width: 100%;
	left: 0;
	top: 0;
	background-color: lightgray;
	text-decoration: none;
	color: black;
	border: 2px outset;

}

.notemenu #saveBtn:active {
	width: 100%;
	left: 0;
	top: 0;
	text-decoration: none;
}
.navbar {
  overflow: hidden;
z-index: 99999;
  background-color: #11111188;
  backdrop-filter: blur(10px);
  border-radius: 25px 25px 0px 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 3px 3px;
}

.navbar a, .navbar button, .ripple, button.showbtn, .taskbar, .taskbarPanel {
  float: left;
  font-family: Roboto, Helvetica, Arial;
  display: block;
  color: #f2f2f2;
  background-color: #ffffff22;
 border-radius: 100px;
  text-align: center;
  border: none;
  padding: 6px 16px;
  text-decoration: none;
  font-size: 17px;
	color: black;
	border: 2px inset;
	}
	#savebtn {
	  float: right;
	  
	}
#login {
margin: auto;
align-content: center;
text-align: center;
}
