.position {
    position: absolute;
    width: 1px;
    height: 1px;
    z-index: 99999;
    display: none;
}

.container {
    width: 220px;
    height: auto;
    border: 4px outset;
	 background-color: #eeeeee;
}

.container p {
	 height: 30px;
    font-size: 18px;
    font-family: Verdana;
    width: 99%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container p:hover {
    background: darkblue;
}

td {
    font-family: arial;
    font-size: 20px;
}

td:hover {
    background: darkblue;
    cursor: pointer;
}

